<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应mapper接口所在的位置-->
<mapper namespace="com.seven.mybatismysqldruid.mapper.UserMapper">
    <!--对应mapper接口中的方法List<User> sleceAll() -->
    <select id="slectAll" resultType="com.seven.mybatismysqldruid.entity.User">
        select * from user
    </select>

</mapper>
